@font-face {
  font-family: 'Greycliff CF';
  src: url('/assets/fonts/GreycliffCF-Regular.woff2') format("woff2"), url('/assets/fonts/GreycliffCF-Regular.woff') format("woff");
  font-display: optional;
  font-weight: 400;
}
@font-face {
  font-family: 'Greycliff CF';
  src: url('/assets/fonts/GreycliffCF-DemiBold.woff2') format("woff2"), url('/assets/fonts/GreycliffCF-DemiBold.woff') format("woff");
  font-display: optional;
  font-weight: 600;
}
@font-face {
  font-family: 'Greycliff CF';
  src: url('/assets/fonts/GreycliffCF-Heavy.woff2') format("woff2"), url('/assets/fonts/GreycliffCF-Heavy.woff') format("woff");
  font-display: optional;
  font-weight: 900;
}
@font-face {
  font-family: 'MD IO';
  src: url('/assets/fonts/MDIO0.4-Regular.woff2') format("woff2"), url('/assets/fonts/MDIO0.4-Regular.woff') format("woff");
  font-display: optional;
  font-weight: 400;
}
