:root {
  color-scheme: light;

  --color-brand-1: var(--color-brand-light-1);
  --color-brand-2: var(--color-brand-light-2);
  --color-text-1: var(--color-text-light-1);
  --color-text-2: var(--color-text-light-2);
  --color-surface-1: var(--color-surface-light-1);
  --color-surface-2: var(--color-surface-light-2);

  --color-code-background: var(--color-code-background-light);
  --color-code-keyword: var(--color-code-keyword-light);
  --color-code-string: var(--color-code-string-light);
  --color-code-punctuation: var(--color-code-punctuation-light);
  --color-code-operator: var(--color-code-operator-light);
  --color-code-tag: var(--color-code-tag-light);
  --color-code-plain-text: var(--color-code-plain-text-light);

  --shadow-default: var(--size-relative-xs) var(--size-relative-xs) 0 var(--color-brand-1);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --color-brand-1: var(--color-brand-dark-1);
    --color-brand-2: var(--color-brand-dark-2);
    --color-text-1: var(--color-text-dark-1);
    --color-text-2: var(--color-text-dark-2);
    --color-surface-1: var(--color-surface-dark-1);
    --color-surface-2: var(--color-surface-dark-2);

    --color-code-background: var(--color-code-background-dark);
    --color-code-keyword: var(--color-code-keyword-dark);
    --color-code-string: var(--color-code-string-dark);
    --color-code-punctuation: var(--color-code-punctuation-dark);
    --color-code-operator: var(--color-code-operator-dark);
    --color-code-tag: var(--color-code-tag-dark);
    --color-code-plain-text: var(--color-code-plain-text-dark);

    --shadow-default: var(--size-relative-xs) var(--size-relative-xs) 0 var(--color-brand-1);
  }
}

[color-scheme="light"] {
  color-scheme: light;

  --color-brand-1: var(--color-brand-light-1);
  --color-brand-2: var(--color-brand-light-2);
  --color-text-1: var(--color-text-light-1);
  --color-text-2: var(--color-text-light-2);
  --color-surface-1: var(--color-surface-light-1);
  --color-surface-2: var(--color-surface-light-2);

  --color-code-background: var(--color-code-background-light);
  --color-code-keyword: var(--color-code-keyword-light);
  --color-code-string: var(--color-code-string-light);
  --color-code-punctuation: var(--color-code-punctuation-light);
  --color-code-operator: var(--color-code-operator-light);
  --color-code-tag: var(--color-code-tag-light);
  --color-code-plain-text: var(--color-code-plain-text-light);

  --shadow-default: var(--size-relative-xs) var(--size-relative-xs) 0
    var(--color-brand-1);
}

[color-scheme="dark"] {
  color-scheme: dark;

  --color-brand-1: var(--color-brand-dark-1);
  --color-brand-2: var(--color-brand-dark-2);
  --color-text-1: var(--color-text-dark-1);
  --color-text-2: var(--color-text-dark-2);
  --color-surface-1: var(--color-surface-dark-1);
  --color-surface-2: var(--color-surface-dark-2);

  --color-code-background: var(--color-code-background-dark);
  --color-code-keyword: var(--color-code-keyword-dark);
  --color-code-string: var(--color-code-string-dark);
  --color-code-punctuation: var(--color-code-punctuation-dark);
  --color-code-operator: var(--color-code-operator-dark);
  --color-code-tag: var(--color-code-tag-dark);
  --color-code-plain-text: var(--color-code-plain-text-dark);

  --shadow-default: var(--size-relative-xs) var(--size-relative-xs) 0 var(--color-brand-1);
}
