:root {
 	--border-thick: 4px;
 	--border-thin: 2px;
 	--color-brand-dark-1: oklch(60% 0.289 10.48);
 	--color-brand-dark-2: oklch(72% 0.289 10.48);
 	--color-brand-light-1: oklch(60% 0.289 10.48);
 	--color-brand-light-2: oklch(48% 0.289 10.48);
 	--color-code-dark-background: var(--color-surface-dark-2);
 	--color-code-dark-keyword: oklch(50.67% 0.289 303.88);
 	--color-code-dark-operator: oklch(82.67% 0.289 173.65);
 	--color-code-dark-plain: var(--color-text-dark-1);
 	--color-code-dark-punctuation: var(--color-brand-dark-1);
 	--color-code-dark-string: klch(64% 0.289 10.48);
 	--color-code-dark-tag: var(--color-brand-light-2);
 	--color-code-light-background: var(--color-surface-light-2);
 	--color-code-light-keyword: oklch(50.67% 0.289 303.88);
 	--color-code-light-operator: oklch(82.67% 0.289 173.65);
 	--color-code-light-plain: var(--color-text-light-1);
 	--color-code-light-punctuation: var(--color-brand-light-1);
 	--color-code-light-string: oklch(64% 0.289 10.48);
 	--color-code-light-tag: var(--color-brand-light-2);
 	--color-status-error: oklch(62.67% 0.289 25.41);
 	--color-surface-dark-1: oklch(12.00% 0.012 10.48);
 	--color-surface-dark-2: oklch(0% 0.006 10.48);
 	--color-surface-light-1: oklch(98.0% 0.002 10.48);
 	--color-surface-light-2: oklch(100% 0.006 10.48);
 	--color-text-dark-1: oklch(97.65% 0.013 10.48);
 	--color-text-dark-2: oklch(90.06% 0.008 10.48);
 	--color-text-light-1: oklch(13.82% 0.06 10.48);
 	--color-text-light-2: oklch(40.88% 0.013 10.48);
 	--config-brand-hue: 336;
 	--ease-1: cubic-bezier(.25, 0, .5, 1);
 	--ease-2: cubic-bezier(.25, 0, .4, 1);
 	--ease-3: cubic-bezier(.25, 0, .3, 1);
 	--ease-4: cubic-bezier(.25, 0, .2, 1);
 	--ease-5: cubic-bezier(.25, 0, .1, 1);
 	--size-max-container: 70em;
 	--size-max-main: 48em;
 	--font-family-mono: "MD IO", monospace;
 	--font-family-sans: "Greycliff CF", system-ui, sans-serif;
 	--font-family-serif: serif;
 	--font-weight-bold: 900;
 	--font-weight-medium: 600;
 	--font-weight-regular: 400;
 	--line-height-base: 1.64;
 	--line-height-small: 1.24;
 	--measure-base: 64ch;
 	--measure-small: 48ch;
 	--tracking-standard: normal;
 	--tracking-tight: -0.04em;
 	--tracking-wide: 0.06em;
}
