:root {
 	--border-thick: var(--space-small);
 	--border-thin: 1px;
 	--color-brand-dark-strong: oklch(60% 0.289 10.48);
 	--color-brand-dark-subtle: oklch(72% 0.289 10.48);
 	--color-brand-light-strong: oklch(60% 0.289 10.48);
 	--color-brand-light-subtle: oklch(48% 0.289 10.48);
 	--color-code-dark-background: var(--color-surface-dark-strong);
 	--color-code-dark-keyword: oklch(50.67% 0.289 303.88);
 	--color-code-dark-operator: oklch(82.67% 0.289 173.65);
 	--color-code-dark-plain: var(--color-text-dark-subtle);
 	--color-code-dark-punctuation: var(--color-brand-dark-subtle);
 	--color-code-dark-string: oklch(64% 0.289 10.48);
 	--color-code-dark-tag: var(--color-brand-light-strong);
 	--color-code-light-background: var(--color-surface-light-subtle);
 	--color-code-light-keyword: oklch(50.67% 0.289 303.88);
 	--color-code-light-operator: oklch(82.67% 0.289 173.65);
 	--color-code-light-plain: var(--color-text-light-subtle);
 	--color-code-light-punctuation: var(--color-brand-light-strong);
 	--color-code-light-string: oklch(64% 0.289 10.48);
 	--color-code-light-tag: var(--color-brand-light-strong);
 	--color-status-error: oklch(62.67% 0.289 25.41);
 	--color-surface-dark-strong: oklch(1% 0.006 10.48);
 	--color-surface-dark-subtle: oklch(16.00% 0.012 10.48);
 	--color-surface-light-strong: oklch(100% 0.006 10.48);
 	--color-surface-light-subtle: oklch(98.0% 0.002 10.48);
 	--color-text-dark-strong: oklch(97.65% 0.013 10.48);
 	--color-text-dark-subtle: oklch(88.06% 0.008 10.48);
 	--color-text-light-strong: oklch(13.82% 0.06 10.48);
 	--color-text-light-subtle: oklch(40.88% 0.013 10.48);
 	--ease-1: cubic-bezier(.25, 0, .5, 1);
 	--ease-2: cubic-bezier(.25, 0, .4, 1);
 	--ease-3: cubic-bezier(.25, 0, .3, 1);
 	--ease-4: cubic-bezier(.25, 0, .2, 1);
 	--ease-5: cubic-bezier(.25, 0, .1, 1);
 	--size-max-container: 72em;
 	--size-max-main: 48em;
 	--font-family-mono: "MD IO", monospace;
 	--font-family-sans: "Greycliff CF", system-ui, sans-serif;
 	--font-family-serif: serif;
 	--font-weight-bold: 900;
 	--font-weight-medium: 600;
 	--font-weight-regular: 400;
 	--line-height-base: 1.728;
 	--line-height-small: 1.2;
 	--measure-base: 72ch;
 	--measure-small: 44ch;
 	--tracking-standard: normal;
 	--tracking-tight: -0.04em;
 	--tracking-wide: 0.06em;
}
