:root {
 	--border-thick: 4px;
 	--border-thin: 2px;
 	--color-brand-dark-1: oklch(60% 0.289 10.48);
 	--color-brand-dark-2: oklch(72% 0.289 10.48);
 	--color-brand-light-1: oklch(60% 0.289 10.48);
 	--color-brand-light-2: oklch(48% 0.289 10.48);
 	--color-code-dark-background: var(--color-surface-dark-2);
 	--color-code-dark-keyword: oklch(50.67% 0.289 303.88);
 	--color-code-dark-operator: oklch(82.67% 0.289 173.65);
 	--color-code-dark-plain: var(--color-text-dark-1);
 	--color-code-dark-punctuation: var(--color-brand-dark-1);
 	--color-code-dark-string: klch(64% 0.289 10.48);
 	--color-code-dark-tag: var(--color-brand-light-2);
 	--color-code-light-background: var(--color-surface-light-2);
 	--color-code-light-keyword: oklch(50.67% 0.289 303.88);
 	--color-code-light-operator: oklch(82.67% 0.289 173.65);
 	--color-code-light-plain: var(--color-text-light-1);
 	--color-code-light-punctuation: var(--color-brand-light-1);
 	--color-code-light-string: oklch(64% 0.289 10.48);
 	--color-code-light-tag: var(--color-brand-light-2);
 	--color-status-error: oklch(62.67% 0.289 25.41);
 	--color-surface-dark-1: oklch(12.00% 0.012 10.48);
 	--color-surface-dark-2: oklch(0% 0.006 10.48);
 	--color-surface-light-1: oklch(98.0% 0.002 10.48);
 	--color-surface-light-2: oklch(100% 0.006 10.48);
 	--color-text-dark-1: oklch(97.65% 0.013 10.48);
 	--color-text-dark-2: oklch(90.06% 0.008 10.48);
 	--color-text-light-1: oklch(13.82% 0.06 10.48);
 	--color-text-light-2: oklch(40.88% 0.013 10.48);
 	--config-brand-hue: 336;
 	--ease-1: cubic-bezier(.25, 0, .5, 1);
 	--ease-2: cubic-bezier(.25, 0, .4, 1);
 	--ease-3: cubic-bezier(.25, 0, .3, 1);
 	--ease-4: cubic-bezier(.25, 0, .2, 1);
 	--ease-5: cubic-bezier(.25, 0, .1, 1);
 	--space-default-base: var(--size-relative-md);
 	--space-default-horizontal: var(--size-relative-md);
 	--space-default-section: var(--size-base-2xl);
 	--space-default-vertical: var(--size-relative-md);
 	--ratio: 1.48;
 	--scale--1: clamp(0.9075rem, -0.06312499999999999vw + 0.908125rem, 0.844375rem);
 	--scale--2: clamp(0.731875rem, -0.16125vw + 0.733125rem, 0.570625rem);
 	--scale--3: clamp(0.59rem, -0.20437499999999995vw + 0.59125rem, 0.385625rem);
 	--scale--4: clamp(0.475625rem, -0.21500000000000005vw + 0.476875rem, 0.260625rem);
 	--scale--5: clamp(0.38375rem, -0.2075vw + 0.384375rem, 0.17625rem);
 	--scale-0: clamp(1.125rem, 0.125vw + 1.12375rem, 1.25rem);
 	--scale-1: clamp(1.395rem, 0.4550000000000001vw + 1.38875rem, 1.85rem);
 	--scale-11: clamp(11.989375rem, 81.290625vw + 2.243125rem, 93.28rem);
 	--scale-2: clamp(1.73rem, 1.0081250000000002vw + 1.7125rem, 2.738125rem);
 	--scale-3: clamp(2.145rem, 1.9075000000000002vw + 2.104375rem, 4.0525rem);
 	--scale-4: clamp(2.66rem, 3.3374999999999995vw + 2.57125rem, 5.9975rem);
 	--scale-5: clamp(3.298125rem, 5.578125vw + 3.114375rem, 8.87625rem);
 	--scale-7: clamp(5.07125rem, 14.370625vw + 4.3425rem, 19.441875rem);
 	--scale-9: clamp(7.7975rem, 34.788125vw + 5.085rem, 42.585625rem);
 	--size-base-2xl: 3rem;
 	--size-base-2xs: 0.125rem;
 	--size-base-3xl: 4rem;
 	--size-base-3xs: 0.0875rem;
 	--size-base-4xl: 5rem;
 	--size-base-lg: 1.5rem;
 	--size-base-md: 1rem;
 	--size-base-sm: 0.5rem;
 	--size-base-xl: 2rem;
 	--size-base-xs: 0.25rem;
 	--size-max-container: 70em;
 	--size-max-main: 48em;
 	--size-relative-2xl: 3em;
 	--size-relative-2xs: 0.125em;
 	--size-relative-3xl: 4em;
 	--size-relative-3xs: 0.0875em;
 	--size-relative-4xl: 5em;
 	--size-relative-lg: 1.5em;
 	--size-relative-md: 1em;
 	--size-relative-sm: 0.5em;
 	--size-relative-xl: 2em;
 	--size-relative-xs: 0.25em;
 	--font-family-mono: "MD IO", monospace;
 	--font-family-sans: "Greycliff CF", system-ui, sans-serif;
 	--font-family-serif: serif;
 	--font-size-2xl: var(--scale-3);
 	--font-size-3xl: var(--scale-4);
 	--font-size-base: var(--scale-0);
 	--font-size-button: var(--scale-0);
 	--font-size-lg: var(--scale-1);
 	--font-size-sm: var(--scale--1);
 	--font-size-xl: var(--scale-2);
 	--font-weight-bold: 900;
 	--font-weight-medium: 600;
 	--font-weight-regular: 400;
 	--line-height-base: 1.64;
 	--line-height-small: 1.24;
 	--measure-base: 64ch;
 	--measure-small: 48ch;
 	--tracking-standard: normal;
 	--tracking-tight: -0.04em;
 	--tracking-wide: 0.06em;
}
