:root {
 	--color-brand-dark-1: hsl(var(--config-brand-hue) 100% 48%);
 	--color-brand-dark-2: hsl(var(--config-brand-hue) 100% 72%);
 	--color-brand-light-1: hsl(var(--config-brand-hue) 100% 48%);
 	--color-brand-light-2: hsl(var(--config-brand-hue) 100% 24%);
 	--color-code-dark-background: hsl(var(--config-brand-hue) 16% 5%);
 	--color-code-dark-keyword: hsl(calc(var(--config-brand-hue) + 60) 100% 64%);
 	--color-code-dark-operator: hsl(calc(var(--config-brand-hue) + 230) 100% 64%);
 	--color-code-dark-plain: var(--color-text-dark-1);
 	--color-code-dark-punctuation: var(--color-brand-dark-1);
 	--color-code-dark-string: hsl(calc(var(--config-brand-hue) + 280) 100% 64%);
 	--color-code-dark-tag: hsl(calc(var(--config-brand-hue)) 100% 64%);
 	--color-code-light-background: hsl(var(--config-brand-hue) 20% 99%);
 	--color-code-light-keyword: hsl(calc(var(--config-brand-hue) + 60) 100% 48%);
 	--color-code-light-operator: hsl(calc(var(--config-brand-hue) + 230) 100% 48%);
 	--color-code-light-plain: var(--color-text-light-1);
 	--color-code-light-punctuation: var(--color-brand-light-1);
 	--color-code-light-string: hsl(calc(var(--config-brand-hue) + 280) 100% 48%);
 	--color-code-light-tag: hsl(calc(var(--config-brand-hue)) 100% 16%);
 	--color-status-error: hsl(12 100% 48%);
 	--color-surface-dark-1: hsl(var(--config-brand-hue) 6% 1%);
 	--color-surface-dark-2: hsl(var(--config-brand-hue) 96% 12%);
 	--color-surface-light-1: hsl(var(--config-brand-hue) 0% 97%);
 	--color-surface-light-2: hsl(var(--config-brand-hue) 16% 92%);
 	--color-text-dark-1: hsl(var(--config-brand-hue) 96% 98%);
 	--color-text-dark-2: hsl(var(--config-brand-hue) 4% 88%);
 	--color-text-light-1: hsl(var(--config-brand-hue) 0% 8%);
 	--color-text-light-2: hsl(var(--config-brand-hue) 3% 24%);
 	--config-brand-hue: 336;
}
