:root {
 	--ratio: 1.48;
 	--scale--1: clamp(0.9075rem, 0.02499999999999999vw + 0.9075rem, 0.92875rem));
 	--scale--2: clamp(0.731875rem, -0.12279411764705894vw + 0.7325rem, 0.6275rem);
 	--scale--3: clamp(0.59rem, -0.19485294117647056vw + 0.59125rem, 0.424375rem);
 	--scale--4: clamp(0.475625rem, -0.22205882352941178vw + 0.476875rem, 0.286875rem);
 	--scale--5: clamp(0.38375rem, -0.22352941176470584vw + 0.384375rem, 0.19375rem);
 	--scale-0: clamp(1.125rem, 0.29411764705882354vw + 1.121875rem, 1.375rem);
 	--scale-1: clamp(1.395rem, 0.7529411764705883vw + 1.384375rem, 2.035rem);
 	--scale-11: clamp(11.989375rem, 106.61029411764706vw + -0.7925rem, 102.608125rem);
 	--scale-2: clamp(1.73rem, 1.5080882352941174vw + 1.70375rem, 3.011875rem);
 	--scale-3: clamp(2.145rem, 2.720588235294117vw + 2.086875rem, 4.4575rem);
 	--scale-4: clamp(2.66rem, 4.631617647058823vw + 2.536875rem, 6.596875rem);
 	--scale-5: clamp(3.298125rem, 7.6066176470588225vw + 3.0475rem, 9.76375rem);
 	--scale-7: clamp(5.07125rem, 19.194117647058825vw + 4.098125rem, 21.38625rem);
 	--scale-9: clamp(7.7975rem, 45.9375vw + 4.215625rem, 46.844375rem);
}
