:root {
 	--size-base-2xl: 3rem;
 	--size-base-2xs: 0.125rem;
 	--size-base-3xl: 4rem;
 	--size-base-3xs: 0.0875rem;
 	--size-base-4xl: 5rem;
 	--size-base-lg: 1.5rem;
 	--size-base-md: 1rem;
 	--size-base-sm: 0.5rem;
 	--size-base-xl: 2rem;
 	--size-base-xs: 0.25rem;
 	--size-max-container: 70rem;
 	--size-max-main: 48rem;
 	--size-relative-2xl: 3em;
 	--size-relative-2xs: 0.125em;
 	--size-relative-3xl: 4em;
 	--size-relative-3xs: 0.0875em;
 	--size-relative-4xl: 5em;
 	--size-relative-lg: 1.5em;
 	--size-relative-md: 1em;
 	--size-relative-sm: 0.5em;
 	--size-relative-xl: 2em;
 	--size-relative-xs: 0.25em;
}
