.badge {
  --color: currentColor;

  font-family: var(--fontFamilyMono);
  color: var(--color);
  border: var(--border-thin) solid var(--color);
  padding: var(--size-relative-xs) var(--size-relative-sm);
  text-transform: lowercase;
  --fontWeight: var(--fontWeightMedium);
  width: max-content;
  max-width: max-content;
  line-height: 1;

  &.-dark {
    --color: var(--color-surface1);
  }

  &.-light {
    --color: var(--color-text1);
  }
}
