pre {
  background-color: var(--color-code-background);
}

.token {

}

.keyword {
  color: var(--color-code-keyword);

}

.string {
  color: var(--color-code-string);
}

.punctuation {
  color: var(--color-code-punctuation);
}

.operator {
  color: var(--color-code-operator);
}

.tag {
    color: var(--color-code-tag);
}

.plain-text {
  color: var(--color-code-plain-text);

}
