.extra-links {
  align-self: start;
  max-width: max-content;
  position: sticky;
  top: 0;
  max-height: max-content;
}

.standout-box {
  padding-block: var(--size-relative-md);
  padding-inline: var(--size-relative-md);
  background: var(--color-text-1);
  color: var(--color-surface-1);
}

.standout-box a {
  color: inherit;
}

.standout-box h4 {
  color: inherit;
}

.footnotes {
  margin-top: var(--scale-3);
  padding-block: var(--space-default-vertical);
}
