.extra-links {
  align-self: start;
  max-width: max-content;
  position: sticky;
  top: 0;
  max-height: max-content;
}

.standout-box {
  padding: var(--space-near);
  background: var(--color-text-strong);
  color: var(--color-surface-strong);
}

.standout-box a {
  color: inherit;
}

.standout-box :is(h1, h2, h3, h4, h5, h6) {
  color: inherit;
}

.footnotes {
  margin-top: var(--space-away);
  padding-block: var(--space-near);
}
