:root {
  --_input-background: var(--input-background, var(--color-surface-2));
  --_input-color: var(--input-color, var(--color-text-1));
  --_input-border: var(
    --input-border,
    var(--border-thin) solid var(--color-text-2)
  );
  --_input-outline: var(
    --input-outline,
    var(--scale--4) solid var(--color-brand-1)
  );
  --_input-disabled-filter: var(
    --input-disabled-filter,
    contrast(0.64) opacity(0.64)
  );
}

fieldset {
  padding: var(--size-relative-md);
  border: var(--border-thick) solid var(--color-text-1);
  background-color: var(--color-surface-2);
}

legend {
  font-family: var(--font-family-mono);
  letter-spacing: var(--tracking-tight);
  font-weight: var(--font-weight-regular);
  color: var(--color-text-1);
  display: block;
  font-size: var(--font-size-lg);
  padding-inline: var(--size-relative-sm);
  padding-block: 0;
  background-color: var(--color-surface-2);
  border: var(--border-thin) solid var(--color-text-1);
  box-shadow: var(--size-relative-2xs) var(--size-relative-2xs) 0
    var(--color-text-1);
}

:where(label) {
  font-family: var(--font-family-mono);
  letter-spacing: var(--tracking-tight);
  font-weight: var(--font-weight-regular);
  color: var(--color-text-1);
  display: inline-flex;
  font-size: var(--font-size-base);
  cursor: pointer;
  gap: var(--size-relative-sm);
  align-items: center;
}

:where(input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="url"], input[type="search"], input[type="date"], input[type="month"], input[type="week"], input[type="text"], input[type="datetime"], input[type="datetime-local"], input[type="time"], input[type="tel"], input[type="color"], textarea, select) {
  -webkit-appearance: none;
  color: var(--_input-color);
  background-color: var(--_input-background);
  border: var(--_input-border);
  border-radius: 0;
  block-size: var(--size-relative-2xl);
  padding-inline: var(--size-relative-sm);

  &:focus {
    outline: var(--_input-outline);
    outline-offset: 0;
  }

  &:disabled {
    filter: var(--_input-disabled-filter);
    cursor: not-allowed;
  }
}

:where(textarea) {
  min-height: var(--size-relative-4xl);
  max-inline-size: 100%;
}

:where(input[type="checkbox"], input[type="radio"]) {
  inline-size: calc(var(--scale-0) * var(--line-height-base));
  block-size: calc(var(--scale-0) * var(--line-height-base));
  aspect-ratio: 1;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: var(--_input-border);
  --current-background: var(--_input-background);
  background: var(--current-background);
  cursor: pointer;
  transition: 0s background var(--ease-2);

  @media (--motionOK) {
    transition-duration: 250ms;
  }

  &:disabled {
    filter: var(--_input-disabled-filter);
    cursor: not-allowed;
  }
}

:where(input[type="checkbox"]:not(.switch)) {
  &:before {
    content: "X";
    display: inline-flex;
    align-items: center;
    justify-content: center;
    inline-size: 100%;
    block-size: 100%;
    opacity: 0;
    transform: scale(0.9) rotate(30deg);
    transition: opacity var(--ease-2) 0ms, transform var(--ease-2) 0ms;
    font-family: var(--font-family-sans);
    --font-weight: var(--font-weight-bold);
    line-height: 1;

    @media (--motionOK) {
      transition-duration: 50ms;
    }
  }

  &:checked {
    --current-background: var(--color-brand-1);

    &:before {
      opacity: 1;
      transform: scale(1) rotate(0deg);
    }
  }
}

:where(input[type="radio"]) {
  &:before {
    content: "";
    display: inline-flex;
    background: var(--_input-color);
    block-size: calc(100% - 2 * var(--size-relative-xs));
    inline-size: calc(100% - 2 * var(--size-relative-xs));
    opacity: 0;
    transition: opacity var(--ease-2) 250ms;
  }

  &:checked {
    --current-background: var(--color-brand-1);

    &:before {
      opacity: 1;
    }
  }
}
:where(input[type="color"]) {
  aspect-ratio: 1;
  width: auto;
  padding: var(--size-relative-sm);
}

:where(button, button[type], input[type="button"], input[type="submit"], input[type="reset"]),
:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button,
.CTA-button {
  --button-background: var(--color-text-1);
  --button-color: var(--color-surface-2);
  --button-border-color: var(--color-text-1);
  --button-transform: none;
  --button-box-shadow: none;
  --transition-duration: 0.2s;

  --button-background-hover: var(--color-brand-1);
  --button-color-hover: var(--color-surface-1);
  --button-border-color-hover: var(--color-text-1);
  --button-hover-transform: translate(
    calc(-1 * var(--size-relative-xs)),
    calc(-1 * var(--size-relative-xs))
  );
  --button-hover-shadow: var(--size-relative-xs) var(--size-relative-xs) 0
    var(--color-text-1);

  --button-height: var(--size-relative-2xl);
  --button-padding-inline: var(--size-relative-lg);

  background-color: var(--button-background);
  color: var(--button-color);
  border-width: var(--border-thin);
  border-color: var(--button-border-color);
  border-style: solid;
  padding-inline: var(--button-padding-inline);
  min-block-size: var(--button-height);
  padding-block: 0;
  font-family: var(--font-family-mono);
  letter-spacing: var(--tracking-tight);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  cursor: pointer;
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  transition: box-shadow var(--transition-duration) var(--ease-2);
  text-decoration: unset;
  box-shadow: var(--button-box-shadow);
  transform: var(--button-transform);
  will-change: transform;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

:where(button, button[type], input[type="button"], input[type="submit"], input[type="reset"], .CTA-button) {
  &:after {
    content: "" !important;
  }

  &:hover {
    --button-background: var(--button-background-hover) !important;
    --button-color: var(--button-color-hover) !important;
    --button-border-color: var(--button-border-color-hover) !important;
    --button-box-shadow: var(--button-hover-shadow) !important;
    --button-transform: var(--button-hover-transform) !important;
  }

  &:hover:after {
    inline-size: calc(100% + var(--size-relative-xs)) !important;
    block-size: calc(100% + var(--size-relative-xs)) !important;
    z-index: -1 !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    pointer-events: none !important;
  }

  &:active {
    box-shadow: none;
  }

  &[disabled] {
    --button-background: none !important;
    --button-background-hover: none !important;
    --button-color: var(--color-text-2) !important;
    --button-color-hover: var(--button-color) !important;
    --button-border-color: var(--color-text-2) !important;
    --button-border-color-hover: var(--button-border-color);

    box-shadow: none !important;
    transform: none !important;
    filter: contrast(0.64) opacity(0.64);
    cursor: not-allowed;
  }
}
