fieldset {
  padding: var(--size-relative-md);
  border: var(--border-thick) solid var(--color-text-1);
}

legend {
  font-family: var(--font-family-mono);
  color: var(--color-text-1);
  display: block;
  font-size: var(--font-size-lg);
  padding-inline: var(--size-relative-sm);
  padding-block: 0;
}

.input-field {
  display: grid;
  gap: var(--scale--2);
  grid-template-columns: minmax(0, 1fr);
  width: fit-content;
  place-items: start;
  font-size: var(--font-size-base);

  & > label {
    --gap: var(--size-relative-2xs);
  }
}

:where(label),
.input-label {
  font-family: var(--font-family-mono);
  color: var(--color-text-1);
  display: block;
  font-size: var(--font-size-base);
  cursor: pointer;
}

.input-hint {
  --color-default: var(--color-text-2);
  display: block;
  &:before {
    content: "?";
  }
}

:where(input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="url"], input[type="search"], input[type="date"], input[type="month"], input[type="week"], input[type="text"], input[type="datetime"], input[type="datetime-local"], input[type="time"], input[type="tel"], input[type="color"], textarea, select),
.input {
  color: var(--color-text-1);
  background-color: var(--color-surface-1);
  border: var(--border-thin) solid var(--color-text-2);
  height: var(--size-relative-2xl);
  padding-inline: var(--size-relative-sm);

  &:focus {
    outline: var(--scale--4) solid var(--color-brand-1);
    outline-offset: 0;
  }
}

:where(textarea),
.textarea {
  min-height: var(--size-relative-4xl);
}

.input-error {
  --color-default: var(--color-status-error);
  --font-weight: var(--font-weight-medium);
  color: var(--color-default);

  &:before {
    content: "!";
  }
}

.input-error,
.input-hint {
  &:before {
    font-family: var(--font-family-mono);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--line-height-base);
    padding: 0;
    background-color: var(--color-default);
    color: var(--color-surface-1);
    margin-right: var(--size-relative-xs);
  }
}

:where(input[type="checkbox"], input[type="radio"]) {
  grid-area: input;
  inline-size: calc(var(--scale-0) * var(--line-height-base));
  block-size: calc(var(--scale-0) * var(--line-height-base));
  aspect-ratio: 1;
  margin: 0;
  padding: 0;
}

.checkbox-input {
  display: grid;
  gap: var(--size-relative-sm);
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-areas: "input label";
  width: fit-content;
  place-items: start;
  font-size: var(--font-size-base);

  & > label {
    grid-area: label;
  }

  & > input {
    grid-area: input;
  }
}

:where(input[type="color"]) {
  aspect-ratio: 1;
  width: auto;
  padding: var(--size-relative-sm);
}
