.link-with-icon {
  display: inline-grid;
  gap: var(--space-near);
  grid-auto-flow: column;
  place-items: center;

  & svg {
    position: relative;
    top: 0.125em;
  }

  & span {
    display: inline;
  }
}
