/* ELEMENT RESETS / BASE STYLES */

*, ::before, ::after { box-sizing: border-box; }

:where(:not(dialog)) {
  margin: 0;
}

:where(:not(fieldset, progress, meter)) {
  border-width: 0;
  border-style: solid;
  background-origin: border-box;
  background-repeat: no-repeat;
}

@media (--motionOK) {
  :where(:focus-visible) {
    transition: outline-offset 145ms var(--ease-2);
  }
  :where(:not(:active):focus-visible) {
    transition-duration: .25s;
  }
}

* {
  font-variation-settings: "wght" var(--fontWeight);
  accent-color: var(--color-brand);
}

:where(:focus-visible,
:focus) {
  outline: var(--s-5) solid var(--color-brand);
  outline-offset: 0.64ch;
}

:where(:focus:not(:focus-visible)) {
  outline: none;
}

:where(html) {
  block-size: 100%;
  inline-size: 100%;
  -webkit-text-size-adjust: none; /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */


  @media (--motionOK) {
    & {
      scroll-behavior: smooth;
    }
  }
}

:where(body) {
  min-block-size: 100%;
  min-inline-size: 100%;

  --fontWeight: var(--fontWeightRegular);

  color: var(--color-text2);
  background-color: var(--color-surface1);

  font-family: var(--fontFamilySans);
  line-height: var(--lineHeight);
  font-variation-settings: "wght" var(--fontWeight);
  font-style: normal;
  font-feature-settings: "calt", "liga";
  font-size: var(--s0);
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, svg, video) {
  max-inline-size: 100%;
  block-size: auto;
}

:where(figure) {
  display: grid;
  gap: 0;
  place-items: center;
}

:where(a[href], area, button, input, label[for], select, summary, textarea, [tabindex]:not([tabindex*="-"])) {
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

:where(input, button, textarea, select),
:where(input[type="file"])::-webkit-file-upload-button {
  font: inherit;
  font-size: inherit;
  color: inherit;
  letter-spacing: inherit;
}

:where(p,
li,
dd,
dt,
summary) {
  max-inline-size: var(--measure);
  font-size: inherit;
  line-height: var(--lineHeight);
}

:where(ol,
ul,
dl) {
  display: flex;
  flex-direction: column;
  max-inline-size: max-content;
  padding-inline: 0;
}

:where(ol,
ul) {
  gap: var(--gap, var(--s1));
}

:where(li,
dd) {
  max-inline-size: calc(var(--measure) * 0.8);
  font-size: var(--s0);
  margin-inline: var(--s0);
}

:where(dt) {
  --fontWeight: var(--fontWeightRegular);
  color: var(--color-text2);
}

:where(dd) {
  --fontWeight: var(--fontWeightMedium);
  color: var(--color-text1);
}

:where(dl) {
  & * + * {
    margin-block-start: var(--s-1);
  }

  & * + dt {
    margin-block-start: var(--s1);
  }
}

:where(li > ul,
li > ol) {
  margin-block-start: var(--s1);
}

:where(small) {
  font-size: var(--s-1);
}

:where(sup, small) {
  color: var(--color-text2);
}

:where(figcaption) {
  display: block;
  color: var(--color-surface1);
  font-family: var(--fontFamilySans);
  --fontWeight: var(--fontWeightMedium);
  color: var(--color-surface2);
  background-color: var(--color-text1);
  padding: var(--size-sm) var(--size-md);
}

:where(details) {
  width: 100%;
  background-color: var(--color-surface2);
  padding-inline: var(--defaultPadding-horizontal);
  padding-block: var(--defaultPadding-vertical);
  border-radius: 0;

  & > *:not(summary):first-of-type {
    margin-block-start: var(--s0);
  }

  & > summary {
    cursor: pointer;
    color: var(--color-text1);
    width: 100%;
  }

  &[open=""] {
    border: var(--border-thin) solid var(--color-surface2);
  }
}

:where(blockquote) {
  display: grid;
  gap: var(--size-md);
  margin-inline: 0;
  padding-inline: var(--defaultPadding-horizontal);
  padding-block: var(--defaultPadding-vertical);
  background-color: var(--color-surface2);
  border-left: var(--border-thick) solid var(--color-text2);
}

:where(hr) {
  width: 100%;
  height: var(--s-5);
  border: none;
  background-color: var(--color-text2);
}

:where(h1,
h2,
h3,
h4,
h5,
h6) {
  line-height: var(--lineHeight-small);
  color: var(--color-text1);
  overflow-wrap: break-word;
  max-width: 100%;
  hyphens: auto;

  & > span {
    overflow-wrap: break-word;
    max-width: 100%;
    hyphens: auto;
  }
}

:where(h1) {
  font-size: var(--s4);
  --fontWeight: var(--fontWeightBold);
}

:where(h2) {
  font-size: var(--s3);
  --fontWeight: var(--fontWeightBold);
}

:where(h3) {
  font-size: var(--s2);
  --fontWeight: var(--fontWeightBold);
}

:where(h4) {
  font-size: var(--s1);
  --fontWeight: var(--fontWeightBold);
}

:where(h5) {
  font-size: var(--s0);
  --fontWeight: var(--fontWeightBold);
}

:where(h6) {
  font-size: var(--s-1);
  --fontWeight: var(--fontWeightBold);
}

::marker {
  color: var(--color-brand);
}

::selection,
mark {
  background-color: var(--color-brand);
  color: var(--color-surface1);
}

:where(a,.link) {
  color: var(--color-text1);
  font-family: var(--fontFamilyMono);
  text-decoration: underline;
  text-underline-offset: 0.15em;
  text-decoration-thickness: 0.1em;
  --fontWeight: var(--fontWeightMedium);
  text-decoration-color: currentColor;
  cursor: pointer;

  &:visited {
    color: var(--color-text2);
  }

  &:hover {
    text-decoration-color: var(--color-brand);
  }

  &[href^="https://"], &[href^="http://"], &[data-external]
  {
    &:after {
      content: "(Extern)";
      display: inline-block;
      font-size: calc(100% / var(--ratio));
      font-variation-settings: "wght" var(--fontWeightRegular);
      margin-left: var(--s-5);
      margin-right: var(--s-5);
      transform: translateY(-0.125em);
      text-decoration: none;
      color: inherit;
      opacity: 0.8;
    }
  }
}

.list-reset {
  list-style: none;
  max-inline-size: 100%;

  & li {
    margin-inline: 0;
    max-inline-size: 100%;
  }
}

:where(strong, b) {
  --fontWeight: var(--fontWeightMedium);
}

:where(dfn, var) {
  font-family: var(--fontFamilyMono);
}

:where([aria-disabled="true"],
.disabled,
:disabled) {
  color: inherit;
  opacity: 1;
  cursor: not-allowed;
}

.text-assistive {
  -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  box-sizing: border-box;
  position: absolute;
  margin: 0;
  padding: 0;

  &:focus {
    -webkit-clip-path: none;
    clip-path: none;
    z-index: 999;
    height: var(--s3);
    line-height: var(--s3);
    background: var(--color-surface2);
    font-size: var(--s0);
    text-decoration: none;
    color: var(--color-text1);
    text-align: center;
    padding-inline: var(--size-md);
    --fontWeight: var(--fontWeightMedium);
  }
}
#content-start:focus {
  background: var(--color-surface2);
  color: var(--color-text1);
}

:where(code) {
  font-family: var(--fontFamilyMono);
}

:where(pre) {
  font-size: var(--s0);
  padding: var(--size-md);
  width: 100%;
  max-width: var(--measure);
  overflow-x: auto;
  color: var(--color-text2);
  border: var(--border-thick) solid var(--color-text2);
}

[data-footnote-ref] {
  color: var(--color-brand);
}
