*,
:after,
:before {
  box-sizing: border-box;
  accent-color: var(--color-brand-1);
}

:where(:not(dialog)) {
  margin: 0;
}

:where(:not(fieldset, progress, meter)) {
  border-width: 0;
  border-style: solid;
  background-origin: border-box;
  background-repeat: no-repeat;
}

@media (--motionOK) {
  :where(:focus-visible) {
    transition: outline-offset 145ms var(--ease-2);
  }
  :where(:not(:active):focus-visible) {
    transition-duration: 0.25s;
  }
}
:where(:focus-visible, :focus) {
  outline: var(--scale--5) solid var(--color-brand-1);
  outline-offset: 0.64ch;
}

:where(:focus:not(:focus-visible)) {
  outline: none;
}

:where(html) {
  block-size: 100%;
  inline-size: 100%;
  -webkit-text-size-adjust: none; /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */

  @media (--motionOK) {
    & {
      scroll-behavior: smooth;
    }
  }
}

:where(body) {
  min-block-size: 100%;
  min-inline-size: 100%;

  font-weight: var(--font-weight-regular);

  color: var(--color-text-2);
  background-color: var(--color-surface-1);

  font-family: var(--font-family-sans);
  line-height: var(--line-height-base);
  font-style: normal;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, svg, video) {
  max-inline-size: 100%;
  block-size: auto;
}

:where(figure) {
  display: grid;
  gap: 0;
  place-items: center;
}

:where(a[href], area, button, input, label[for], select, summary, textarea, [tabindex]:not([tabindex*="-"])) {
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

:where(input, button, textarea, select),
:where(input[type="file"])::-webkit-file-upload-button {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}

:where(p, li, dd, dt, summary) {
  max-inline-size: var(--measure-base);
  font-size: inherit;
  line-height: var(--line-height-base);
}

:where(ol, ul, dl) {
  display: flex;
  flex-direction: column;
  max-inline-size: max-content;
  padding-inline: 0;
}

:where(ol, ul) {
  gap: var(--space-near);
}

:where(li, dd) {
  max-inline-size: var(--measure-small);
  font-size: var(--font-size-md);
  margin-inline: var(--space-near);
}

:where(dt) {
  font-weight: var(--font-weight-regular);
  color: var(--color-text-2);
}

:where(dd) {
  font-weight: var(--font-weight-medium);
  color: var(--color-text-1);
}

:where(dl) {
  & * + * {
    margin-block-start: var(--space-near);
  }

  & * + dt {
    margin-block-start: var(--space-away)
  }
}

:where(li > ul, li > ol) {
  margin-block-start: var(--space-away);
}

:where(small) {
  font-size: var(--font-size-sm);
}

:where(sup, small) {
  color: var(--color-text-2);
}

:where(figcaption) {
  display: block;
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-medium);
  color: var(--color-surface-2);
  background-color: var(--color-text-1);
  padding: var(--space-near) var(--space-away);
}

:where(details) {
  width: 100%;
  background-color: var(--color-surface-2);
  padding: var(--space-near);
  border-radius: 0;
  border: var(--border-thin) solid var(--color-text-1);

  & > *:not(summary):first-of-type {
    margin-block-start: var(--space-away);
  }

  & > summary {
    cursor: pointer;
    color: var(--color-text-1);
    width: 100%;
  }
}

:where(blockquote) {
  display: grid;
  gap: var(--space-near);
  margin-inline: 0;
  padding-inline: var(--space-near);
  padding-block: var(--space-away);
  background-color: var(--color-surface-2);
  border: var(--border-thin) solid var(--color-text-1);
  border-left: var(--space-near) solid var(--color-text-1);
}

:where(hr) {
  width: 100%;
  height: var(--border-thick);
  border: none;
  background-color: var(--color-text-2);
}

:where(h1, h2, h3, h4, h5, h6) {
  line-height: var(--line-height-small);
  color: var(--color-text-1);
  overflow-wrap: break-word;
  max-width: 100%;
  hyphens: auto;

  & > span {
    overflow-wrap: break-word;
    max-width: 100%;
    hyphens: auto;
  }
}

:where(h1) {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
}

:where(h2) {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

:where(h3) {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

:where(h4) {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
}

:where(h5) {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
}

:where(h6) {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
}

::marker {
  color: var(--color-brand-1);
}

::selection,
mark {
  background-color: var(--color-brand-1);
  color: var(--color-surface-1);
}

:where(a, .link) {
  color: var(--color-text-1);
  font-family: var(--font-family-mono);
  text-decoration: underline;
  text-underline-offset: 0.15em;
  text-decoration-thickness: 0.1em;
  font-weight: var(--font-weight-regular);
  text-decoration-color: currentColor;
  cursor: pointer;
  letter-spacing: var(--tracking-tight);

  &:visited {
    color: var(--color-text-2);
  }

  &:hover {
    text-decoration-color: var(--color-brand-1);
  }

  &[href^="https://"], &[href^="http://"], &[data-external]
  {
    &:after {
      content: "(External)";
      display: inline-block;
      font-size: var(--font-size-sm);
      margin-left: var(--space-tiny);
      margin-right: var(--space-tiny);
      transform: translateY(calc(-1em / 12));
      text-decoration: none;
      color: inherit;
      opacity: 0.8;
    }
  }
}

.list-reset {
  list-style: none;
  max-inline-size: 100%;

  & li {
    margin-inline: 0;
    max-inline-size: 100%;
  }
}

:where(strong, b) {
  font-weight: var(--font-weight-medium);
}

:where(dfn, var) {
  font-family: var(--font-family-mono);
  letter-spacing: var(--tracking-tight);
  font-weight: var(--font-weight-regular);
}

:where([aria-disabled="true"], .disabled, :disabled) {
  color: inherit;
  opacity: 1;
  cursor: not-allowed;
  filter: contrast(0.64) opacity(0.64);
}

.text-assistive {
  -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  box-sizing: border-box;
  position: absolute;
  margin: 0;
  padding: 0;

  &:focus {
    -webkit-clip-path: none;
    clip-path: none;
    z-index: 999;
    height: var(--size-relative-xl);
    line-height: var(--size-relative-xl);
    background: var(--color-surface-2);
    font-size: var(--font-size-md);
    text-decoration: none;
    color: var(--color-text-1);
    text-align: center;
    padding-inline: var(--space-near);
    font-weight: var(--font-weight-medium);
  }
}
#content-start:focus {
  background: var(--color-surface-2);
  color: var(--color-text-1);
}

:where(code) {
  font-family: var(--font-family-mono);
  letter-spacing: var(--tracking-tight);
  font-weight: var(--font-weight-regular);
}

:where(pre) {
  font-size: var(--font-size-md);
  padding: var(--space-near);
  width: 100%;
  max-width: var(--measure-base);
  overflow-x: auto;
  color: var(--color-text-2);
  border: var(--border-thick) solid var(--color-text-2);
}

[data-footnote-ref] {
  color: var(--color-brand-1);
}
