.color-subtle {
  color: var(--color-text-subtle);
}

.color-strong {
  color: var(--color-text-strong);
}

.surface-subtle {
  background-color: var(--color-surface-subtle);
}

.surface-strong {
  background-color: var(--color-surface-strong);
}
