:root {
    --density: clamp(1.125rem, 0.125vw + 1.12375rem, 1.25rem);
    --ratio: 1.4;
    --font-ratio: 1.2;

    --font-size-sm: calc(1em / var(--font-ratio));
    --font-size-md: 1em;
    --font-size-lg: calc(1em * var(--font-ratio));
    --font-size-xl: calc(1em * var(--font-ratio) * var(--font-ratio));
    --font-size-2xl: calc(1em * var(--font-ratio) * var(--font-ratio) * var(--font-ratio));
}

body {
    --space-near: calc(var(--density)* var(--ratio) * 2);
    --space-away: calc(var(--density) * var(--ratio) * 3);
    --button-height: calc(var(--space-near) * 2);
    --shadow-near: calc(var(--density) * 0.2);
    font-size: calc(var(--density) * var(--ratio));
}


body [data-density-shift] {
    --space-near: calc(var(--density) * var(--ratio));
    --space-away: calc(var(--density) * var(--ratio) * 2);
    --button-height: calc(var(--space-near) * 2);
    --shadow-near: calc(var(--density) * 0.2);
    font-size: var(--density);
}

body [data-density-shift] [data-density-shift] {
    --space-near: calc(var(--density) * var(--ratio) * 0.5);
    --space-away: calc(var(--density) * var(--ratio));
    --button-height: calc(var(--space-near) * 2);
    --shadow-near: calc(var(--density) * 0.2);
    font-size: var(--density / var(--ratio));
}
