/* COLORS */

:root {
  color-scheme: light;

  /* set defaults */
  --color-brand: var(--color-brand-light);
  --color-brand2: var(--color-brand2-light);
  --color-text1: var(--color-text1-light);
  --color-text2: var(--color-text2-light);
  --color-surface1: var(--color-surface1-light);
  --color-surface2: var(--color-surface2-light);

  --color-code-background: var(--color-code-background-light);
  --color-code-keyword: var(--color-code-keyword-light);
  --color-code-string: var(--color-code-string-light);
  --color-code-punctuation: var(--color-code-punctuation-light);
  --color-code-operator: var(--color-code-operator-light);
  --color-code-tag: var(--color-code-tag-light);
  --color-code-plain-text: var(--color-code-plain-text-light);

  --shadow-color: var(--shadow-color-light);
  --shadow-color-background: var(--shadow-color-background-light);
  --shadow-strength: var(--shadow-strength-light);
  --shadow-strength-background: var(--shadow-strength-background-light);

  --shadow-foreground: hsl(var(--shadow-color), var(--shadow-strength));
  --shadow-background: hsl(
    var(--shadow-color-background),
    var(--shadow-strength-background)
  );

  --shadow-default: var(--size-xs) var(--size-xs) 0 var(--color-brand);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --brand: var(--color-brand-dark);
    --brand2: var(--color-brand2-dark);
    --text1: var(--color-text1-dark);
    --text2: var(--color-text2-dark);
    --surface1: var(--color-surface1-dark);
    --surface2: var(--color-surface2-dark);

    --shadow-color: var(--shadow-color-dark);
    --shadow-color-background: var(--shadow-color-background-dark);
    --shadow-strength: var(--shadow-strength-dark);
    --shadow-strength-background: var(--shadow-strength-background-dark);

    --color-code-background: var(--color-code-background-dark);
    --color-code-keyword: var(--color-code-keyword-dark);
    --color-code-string: var(--color-code-string-dark);
    --color-code-punctuation: var(--color-code-punctuation-dark);
    --color-code-operator: var(--color-code-operator-dark);
    --color-code-tag: var(--color-code-tag-dark);
    --color-code-plain-text: var(--color-code-plain-text-dark);

    --shadow-foreground: hsl(var(--shadow-color), var(--shadow-strength));
    --shadow-background: hsl(
      var(--shadow-color-background-dark),
      var(--shadow-strength-background-dark)
    );

    --shadow-default: var(--size-xs) var(--size-xs) 0 var(--color-brand);
  }
}

[color-scheme="light"] {
  color-scheme: light;

  --color-brand: var(--color-brand-light);
  --color-brand2: var(--color-brand2-light);
  --color-text1: var(--color-text1-light);
  --color-text2: var(--color-text2-light);
  --color-surface1: var(--color-surface1-light);
  --color-surface2: var(--color-surface2-light);

  --shadow-color: var(--shadow-color-light);
  --shadow-color-background: var(--shadow-color-background-light);
  --shadow-strength: var(--shadow-strength-light);
  --shadow-strength-background: var(--shadow-strength-background-light);

  --color-code-background: var(--color-code-background-light);
  --color-code-keyword: var(--color-code-keyword-light);
  --color-code-string: var(--color-code-string-light);
  --color-code-punctuation: var(--color-code-punctuation-light);
  --color-code-operator: var(--color-code-operator-light);
  --color-code-tag: var(--color-code-tag-light);
  --color-code-plain-text: var(--color-code-plain-text-light);

  --shadow-foreground: hsl(var(--shadow-color), var(--shadow-strength));
  --shadow-background: hsl(
    var(--shadow-color-background-light),
    var(--shadow-strength-background-light)
  );
  --shadow-default: var(--size-3xs) var(--size-3xs) var(--size-2xs)
      var(--shadow-foreground),
    var(--size-3xs) var(--size-3xs) var(--size-md) var(--shadow-background);

  --shadow-default: var(--size-xs) var(--size-xs) 0 var(--color-brand);
}

[color-scheme="dark"] {
  color-scheme: dark;

  --color-brand: var(--color-brand-dark);
  --color-brand2: var(--color-brand2-dark);
  --color-text1: var(--color-text1-dark);
  --color-text2: var(--color-text2-dark);
  --color-surface1: var(--color-surface1-dark);
  --color-surface2: var(--color-surface2-dark);

  --color-code-background: var(--color-code-background-dark);
  --shadow-color: var(--shadow-color-dark);
  --shadow-color-background: var(--shadow-color-background-dark);
  --shadow-strength: var(--shadow-strength-dark);
  --shadow-strength-background: var(--shadow-strength-background-dark);

  --color-code-keyword: var(--color-code-keyword-dark);
  --color-code-string: var(--color-code-string-dark);
  --color-code-punctuation: var(--color-code-punctuation-dark);
  --color-code-operator: var(--color-code-operator-dark);
  --color-code-tag: var(--color-code-tag-dark);
  --color-code-plain-text: var(--color-code-plain-text-dark);

  /* For some reason we can't set these on root without them beng fucked */
  --shadow-foreground: hsl(var(--shadow-color), var(--shadow-strength));
  --shadow-background: hsl(
    var(--shadow-color-background-dark),
    var(--shadow-strength-background-dark)
  );

  --shadow-default: var(--size-xs) var(--size-xs) 0 var(--color-brand);
}

/* SOME OTHER APPLIED DEFAULTS */

:root {
  --border-thin: var(--size-3xs);
  --border-thick: var(--size-2xs);

  --shadow-raised: var(--size-3xs) var(--size-3xs) 0.48em var(--shadow-color-default);

   /* @todo: think about splitting vertical spacing from horizontal padding */
  --defaultSpacing: var(--size-md);
  --defaultPadding-horizontal: var(--size-md);
  --defaultPadding-vertical: var(--size-md);

  --sectionPadding: var(--size-2xl);
  --contentPadding: var(--defaultPadding-vertical)
    var(--defaultPadding-horizontal);

  --main-max-width: 48em;
  --container-max-width: 70em;

  --headerHeight: calc(var(--s5));
}
