:root {
  /* COLORS */
  --brand-hue: 336;
  --brand-saturation: 100%;
  --color-brand-lightness: 64%;

  /* LIGHT */
  --color-brand-light: hsl(var(--brand-hue) 100% 48%);
  --color-brand2-light: hsl(var(--brand-hue) 100% 24%);
  --color-text1-light: hsl(var(--brand-hue) 0% 8%);
  --color-text2-light: hsl(var(--brand-hue) 3% 24%);
  --color-surface1-light: hsl(var(--brand-hue) 0% 97%);
  --color-surface2-light: hsl(var(--brand-hue) 16% 92%);

  --color-status-error: hsl(12 100% 48%);

  --shadow-strength-light: .48;
  --shadow-color-light: var(--brand-hue), 4%, 8%;

  --shadow-color-background-light: var(--brand-hue), 4%, 8%;
  --shadow-strength-background-light: 0;

  --color-code-background-light: hsl(var(--brand-hue) 20% 99%);
  --color-code-keyword-light: hsl(calc(var(--brand-hue) + 60) 100% 48%);
  --color-code-string-light: hsl(calc(var(--brand-hue) + 280) 100% 48%);
  --color-code-punctuation-light: var(--color-brand);
  --color-code-operator-light: hsl(calc(var(--brand-hue) + 230) 100% 48%);
  --color-code-tag-light: hsl(calc(var(--brand-hue)) 100% 16%);
  --color-code-plain-text-light: var(--color-text1);



  /* DARK */
  --color-brand-dark: hsl(var(--brand-hue) 100% 48%);
  --color-brand2-dark: hsl(var(--brand-hue) 100% 72%);
  --color-text1-dark: hsl(var(--brand-hue) 96% 98%);
  --color-text2-dark: hsl(var(--brand-hue) 4% 88%);
  --color-surface1-dark: hsl(var(--brand-hue) 6% 1%);
  --color-surface2-dark: hsl(var(--brand-hue) 96% 12%);

  --shadow-strength-dark: .88;
  --shadow-color-dark: var(--brand-hue), 4%, 8%;

  --shadow-color-background-dark: var(--brand-hue), 92%, 88%;
  --shadow-strength-background-dark: .48;

  --color-code-background-dark: hsl(var(--brand-hue) 16% 5%);
  --color-code-keyword-dark: hsl(calc(var(--brand-hue) + 60) 100% 64%);
  --color-code-string-dark: hsl(calc(var(--brand-hue) + 280) 100% 64%);
  --color-code-punctuation-dark: var(--color-brand);
  --color-code-operator-dark: hsl(calc(var(--brand-hue) + 230) 100% 64%);
  --color-code-tag-dark: hsl(calc(var(--brand-hue)) 100% 64%);
  --color-code-plain-text-dark: var(--color-text1-dark);



  --ratio: 1.48;

  --s-5: clamp(0.38375rem, -0.22352941176470584vw + 0.384375rem, 0.19375rem);
  --s-4: clamp(0.475625rem, -0.22205882352941178vw + 0.476875rem, 0.286875rem);
  --s-3: clamp(0.59rem, -0.19485294117647056vw + 0.59125rem, 0.424375rem);
  --s-2: clamp(0.731875rem, -0.12279411764705894vw + 0.7325rem, 0.6275rem);
  --s-1: clamp(0.9075rem, 0.02499999999999999vw + 0.9075rem, 0.92875rem);
  --s0: clamp(1.125rem, 0.29411764705882354vw + 1.121875rem, 1.375rem);
  --s1: clamp(1.395rem, 0.7529411764705883vw + 1.384375rem, 2.035rem);
  --s2: clamp(1.73rem, 1.5080882352941174vw + 1.70375rem, 3.011875rem);
  --s3: clamp(2.145rem, 2.720588235294117vw + 2.086875rem, 4.4575rem);
  --s4: clamp(2.66rem, 4.631617647058823vw + 2.536875rem, 6.596875rem);
  --s5: clamp(3.298125rem, 7.6066176470588225vw + 3.0475rem, 9.76375rem);
  --s7: clamp(5.07125rem, 19.194117647058825vw + 4.098125rem, 21.38625rem);
  --s9: clamp(7.7975rem, 45.9375vw + 4.215625rem, 46.844375rem);
  --s11: clamp(11.989375rem, 106.61029411764706vw + -0.7925rem, 102.608125rem);


  --size-3xs: 0.0875em;
  --size-2xs: 0.125em;
  --size-xs: 0.25em;
  --size-sm: 0.5em;
  --size-md: 1em;
  --size-lg: 1.5em;
  --size-xl: 2em;
  --size-2xl: 3em;
  --size-3xl: 4em;
  --size-4xl: 5em;
}

